@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --text-color: #ffffff;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: rgb(14, 14, 14);
  color: #ccc;
  font-size: 1.125rem; /* 18px */
  line-height: 1.6;
  margin: 0;
}

@media screen and (max-width: 37.5rem) { /* 600px */
  body {
    margin: 1.875rem; /* 30px */
  }
}

h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 3rem; /* 50px */
  letter-spacing: -0.125rem; /* -2px */
  margin-bottom: 1.25rem; /* 20px */
}

h2 {
  color: var(--text-color);
}

h3 {
  margin-bottom: 0.625rem; /* 10px */
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  margin: 1.25rem 0; /* 20px */
}

nav {
  width: 30vw;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

@media screen and (max-width: 37.5rem) { /* 600px */
  h1 {
    font-size: 2.5rem;
  }

  .cursor {
    display: inline;
  }

  nav ul {
    gap: 0.5rem;
  }

  table {
    max-width: 100%; /* Ajuste para móviles */
  }
}

nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.container {
  max-width: 37.5rem; /* 600px */
  margin: auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wb-body {
  background: rgb(37, 37, 37);
  padding: 1.25rem; /* 20px */
}

.hidden {
  display: none;
}

.cursor {
  margin-left: 0.5rem;
  font-weight: 660;
  animation: 1s blink step-end infinite;
  font-size: inherit;
  vertical-align: middle;
  transform: translateY(-6%);
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

.underline:hover {
  color: rgb(255, 255, 255);
}

.underline {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.125rem; /* 2px */
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

table td:first-child {
  text-align: left;
  padding-left: 0.125rem;
  color: #FFFFFF;
}

table td:last-child {
  text-align: right;
  padding-right: 0.75rem;
}

.fab {
  font-size: 1rem;
  margin-right: 0.25rem;
}